{% load static %}
<!DOCTYPE>
<html>
  <head>
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="{% static '/css/navigation.css' %}">
	  <link rel="stylesheet" href="{% static '/css/basefooter.css' %}">
  </head>

  <header>
	<!-- <a href="" class="logo" target="_blank">
		<img src="" alt="">
	</a>
	  -->

  	<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  	<label for="menu-icon"></label>

  	<nav class="nav">
  		<ul class="pt-5">
            <li><a href="{% url 'resume' %}">HOME</a></li>
  			<li><a href="{% url 'projects' %}">PROJECT</a></li>

			<li><a href="{% url 'blog_index' %}">BLOG</a></li>

        </ul>
  	</nav>

  	</header>


<body>

{% block content %}




{% endblock %}
</body>



<!---
<footer>


 <div>
   <h1 id="SP"><span>S</span>hubham  <span>P</span>atidar<h1>
    <p>Stay Focused

   <hr>
     <p>&copy; 2022 <span id='name'>Shubham Patidar</span> All rights reserved</p>
</div>
</footer>
-->
</html>









