<section>

     <!-- extra  starts -->
<main class="main">
     <div style="margin: auto;width: 50%;padding: 10px;" >
                        <a href="{% url 'projects' %}"><h2 style="text-align:center;">Skills</h2></a>

     </div>
	<div class="container">
		<div class="scroll">
            {% for x in extras %}
			<div class="card">
				<div class="card-image">
                     {% if x.image %}
					<img src="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ x.image.url }}" loading="lazy" class="responsive" alt="Images">
                     {% endif %}
				</div>
				<div class="card-inner">
					<h3 class="text text-title">{{x.heading}}</h3>
					<p class="paragraph truncate">
						{{x.desc}}
					</p>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
</main>
    <!-- extra end -->

    <!-- achievements start -->
<main class="main">
     <div style="margin: auto;width: 50%;padding: 10px;" >
                        <a href="{% url 'projects' %}"><h2 style="text-align:center;">Achievements</h2></a>
     </div>
	<div class="container">
		<div class="scroll">
            {% for x in achieves %}
			<div class="card">
				<div class="card-image">
                     {% if x.image %}
					<img src="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ x.image.url }}" loading="lazy" class="responsive" alt="Images">
                     {% endif %}
				</div>
				<div class="card-inner">
					<h3 class="text text-title">{{x.heading}}</h3>
					<p class="paragraph truncate" style="color:#ffc200;;">
						{{x.desc}}
					</p>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
</main>
    <!-- achievements end -->

</section>

<!--for extra scroll-->

<style>
  html {
  font-size: 100%;
  font-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #252a32;
  background: #ffffff;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {

  max-width: 80rem;
  width: 100%;
  height: auto;
  padding: 0 2rem;
  margin: 0 auto;
}

.text {
  font-family: inherit;
  font-weight: 700;
  line-height: inherit;
  text-rendering: optimizeLegibility;
}
.text-title {
  font-size: 1.25rem;
  color: white;
}

.paragraph {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  margin: 0.25rem 0;
  color: #252a32;
  text-transform: unset;
  text-rendering: optimizeLegibility;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .scroll {
  border-radius:20px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  margin: 2.5rem 0;
  cursor: default;
  overflow: scroll hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-padding: 0px 1.25rem;
  scrollbar-width: none;
}
.main .scroll::-webkit-scrollbar {
  display: none;
}
.main .scroll.active {
  cursor: grab;
  cursor: -webkit-grab;
}
.main .scroll .card {
  width: 16rem;
  height: auto;
  flex: 0 0 auto;
  margin: 0 0.75rem;
  border: none;
  outline: none;

  color: #252a32;

  border-radius: 31px;
background: linear-gradient(315deg, #000000, #000000);
box-shadow:  16px 16px 32px #848484,
             -16px -16px 32px #ffffff;
}


.main .scroll .card-image {
  position: relative;
  display: block;
  width: 100%;

  height: auto;
  padding-top: 110%;


}
.main .scroll .card-image img.responsive {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius:31px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .scroll .card-inner {
  width: 100%;
  height: auto;
  padding: 1rem;


}
</style>
<script>
    const scroll = document.querySelector(".scroll");
var isDown = false;
var scrollX;
var scrollLeft;

// Mouse Up Function
scroll.addEventListener("mouseup", () => {
	isDown = false;
	scroll.classList.remove("active");
});

// Mouse Leave Function
scroll.addEventListener("mouseleave", () => {
	isDown = false;
	scroll.classList.remove("active");
});

// Mouse Down Function
scroll.addEventListener("mousedown", (e) => {
	e.preventDefault();
	isDown = true;
	scroll.classList.add("active");
	scrollX = e.pageX - scroll.offsetLeft;
	scrollLeft = scroll.scrollLeft;
});

// Mouse Move Function
scroll.addEventListener("mousemove", (e) => {
	if (!isDown) return;
	e.preventDefault();
	var element = e.pageX - scroll.offsetLeft;
	var scrolling = (element - scrollX) * 2;
	scroll.scrollLeft = scrollLeft - scrolling;
});

</script>

<!--for extra scroll-->