  <!-- 
        - #ABOUT
      -->

      <section class="about" id="about">

        <figure class="about-banner">
            {% for a in about %}
            {% if a.image %}

          <img src="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ a.image.url }}" alt="A man in a alice blue shirt with a thinking expression"
            class="w-100">

            {% endif %}
            {% endfor %}
        </figure>

        <div class="about-content section-content">

          <p class="section-subtitle">About me</p>
          {% for a in about %}
          <h2 class="h3 section-title">{{a.heading}}</h2>
          {% endfor %}
          <p class="section-text">
         
{% for a in about %}

<p class="section-text">{{a.content}}</p>

<div class="btn-group">
  <a class="btn btn-secondary" id="hireButton" href="{{a.hireLink}}">Hire me</a>
  <a class="btn btn-primary" id="resumeButton" href="{{a.resumeLink}}">Download cv</a>
</div>

<script>
  document.getElementById("hireButton").addEventListener("click", function() {
    window.location.href = "{{a.hireLink}}";
  });

  document.getElementById("resumeButton").addEventListener("click", function() {
    window.location.href = "{{a.resumeLink}}";
  });
</script>

{% endfor %}
        </div>

      </section>