      {% load static %}
      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">

        <figure class="hero-banner">

          {% for a in banner %}
            
          <picture>
            {% if a.bannerimage %}
            <source srcset="{% static '/images/hero-banner.png' %}" media="(min-width: 768px)">
            <source srcset="{% static '/images/hero-banner-md.png' %}" media="(min-width: 500px)">
            <img src="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ a.bannerimage.url }}" alt="hero"
              class="w-100">
            {% endif %}
          </picture>

          <!-- <picture>
            {% if a.bannerimage %}
            <img class="w-100"src="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ a.bannerimage.url }}" alt="A man in a blue shirt with a happy expression">
        
            {% endif %}
           
          </picture> -->

           
          {% endfor %}

        </figure>

        <div class="hero-content">

          {% for a in banner %}
        
          <h2 class="h2 hero-title">{{a.heading}}</h2>
          <h2 class="h2 hero-title">{{a.heading2}}</h2>
          <h2 class="h2 hero-title">{{a.heading3}}</h2>

          {% endfor %}

          <a href="#contact" class="btn btn-primary">Get in touch</a>

        </div>

        <ul class="hero-social-list">

          <li>
            <a href="https://github.com/super-duper-sp" class="hero-social-link">
              <ion-icon name="logo-github"></ion-icon>

              <div class="tooltip">Github</div>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/SHUBHAM15362" class="hero-social-link">
              <ion-icon name="logo-twitter"></ion-icon>

              <div class="tooltip">Twitter</div>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/shubham-patidar-98ba5b148/" class="hero-social-link">
              <ion-icon name="logo-linkedin"></ion-icon>

              <div class="tooltip">Linkedin</div>
            </a>
          </li>

        </ul>

        <a href="#stats" class="scroll-down">Scroll</a>

      </section>
