      {% load static %}
      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">

        <figure class="hero-banner">

          {% for a in about %}
            
          <picture>
            {% if banner1image.image %}
           <source srcset="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ a.banner1image.url }}" media="(min-width: 768px)"> 
           {% endif %}

           {% if banner2image.image %}
           <source srcset="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ a.banner2image.url }}" media="(min-width: 500px)">
           {% endif %}
           
           {% if banner3image.image %} 
           <img src="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ a.banner3image.url }}" alt="shubham patidat picture"
              class="w-100">
           {% endif %}
           
          </picture>
           
          {% endfor %}

        </figure>

        <div class="hero-content">

          {% for a in about %}
        
          <h2 class="h2 hero-title">{{a.heading}}</h2>
          <h2 class="h2 hero-title">{{a.heading2}}</h2>
          <h2 class="h2 hero-title">{{a.heading3}}</h2>

          {% endfor %}

          <a href="#contact" class="btn btn-primary">Get in touch</a>

        </div>

        <ul class="hero-social-list">

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-facebook"></ion-icon>

              <div class="tooltip">Facebook</div>
            </a>
          </li>

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-twitter"></ion-icon>

              <div class="tooltip">Twitter</div>
            </a>
          </li>

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-linkedin"></ion-icon>

              <div class="tooltip">Linkedin</div>
            </a>
          </li>

        </ul>

        <a href="#stats" class="scroll-down">Scroll</a>

      </section>
