      {% load static %}
      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">

        <figure class="hero-banner">

          <picture>
            <source srcset="{% static '/images/hero-banner.png' %}" media="(min-width: 768px)">
            <source srcset="{% static '/images/hero-banner-md.png' %}" media="(min-width: 500px)">
            <img src="{% static '/images/hero-banner-sm.png' %}" alt="A man in a blue shirt with a happy expression"
              class="w-100">
          </picture>

        </figure>

        <div class="hero-content">

          {% for a in about %}
        
          <h2 class="h2 hero-title">{{a.heading}}</h2>
          <h2 class="h2 hero-title">{{a.heading2}}</h2>
          <h2 class="h2 hero-title">{{a.heading3}}</h2>

          {% endfor %}

          <a href="#contact" class="btn btn-primary">Get in touch</a>

        </div>

        <ul class="hero-social-list">

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-facebook"></ion-icon>

              <div class="tooltip">Facebook</div>
            </a>
          </li>

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-twitter"></ion-icon>

              <div class="tooltip">Twitter</div>
            </a>
          </li>

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-linkedin"></ion-icon>

              <div class="tooltip">Linkedin</div>
            </a>
          </li>

        </ul>

        <a href="#stats" class="scroll-down">Scroll</a>

      </section>
