 <!-- 
    - #HEADER
  -->
  <header class="header" data-header>
    <div class="container">

      <h1 class="h1 logo">
        <a href="#">Shubham<span>.</span></a>
      </h1>

      <div class="navbar-actions">

        <!-- <select name="language" id="lang">
          <option value="en">En</option>
          <option value="ar">Ar</option>
        </select> -->

        <button class="theme-btn" aria-label="Change Theme" title="Change Theme" data-theme-btn>
          <span class="icon"></span>
        </button>

      </div>

      <button class="nav-toggle-btn" aria-label="Toggle Menu" title="Toggle Menu" data-nav-toggle-btn>
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
      </button>


      <nav class="navbar" data-navbar>
        <ul class="navbar-list">
    
            <li>
                <a href="{% url 'resume' %}" class="navbar-link">Home</a>
            </li>
    
            {% if request.path != '/pro/projects/' and request.path != '/blog/' %}
            <li>
                <a href="#about" class="navbar-link">About</a>
            </li>
            <li>
                <a href="#skills" class="navbar-link">Skills</a>
            </li>
            <li>
                <a href="#contact" class="navbar-link">Contact</a>
            </li>
            {% endif %}
    
            <li>
                <a href="{% url 'projects' %}" class="navbar-link">Projects</a>
            </li>
    
            <li>
                <a href="{% url 'blog_index' %}" class="navbar-link">Blog</a>
            </li>
    
        </ul>
    </nav>

    </div>
  </header>
