      <!-- 
        - #SKILLS
      -->

      <section class="skills" id="skills">

        <div class="skills-content section-content">

          <p class="section-subtitle">skills & Tools</p>

          <h2 class="h3 section-title">Skills & Tools Proficiency</h2>

          <p class="section-text">
            A comprehensive view of my IT skills and the tools I wield. Explore the foundation of my technical expertise and discover the resources I leverage to build innovative solutions.
          </p>

          <div class="skills-toggle" data-toggle-box>
            <button class="toggle-btn active" data-toggle-btn>Skills</button>

            <button class="toggle-btn" data-toggle-btn>Tools</button>
          </div>

        </div>

        <div class="skills-box" data-skills-box>

                <ul class="skills-list">

    {% for s in Skills %}
           <li>
              <div class="skill-card">
                <div class="tooltip">{{s.heading}}</div>

                <div class="card-icon">
            {% if s.image %}
                  <img src="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ s.image.url }}" alt="{{x.heading}}">
            {% endif %}
                </div>
              </div>
           </li>
    {% endfor %}


                </ul>


                <ul class="tools-list">

    {% for t in Tools %}

                    <li>
              <div class="skill-card">
                <div class="tooltip">{{t.heading}}</div>

                <div class="card-icon">
                  {% if t.image %}
                  <img src="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ t.image.url }}" alt="{{x.heading}}">
                  {% endif %}
                </div>
              </div>
                    </li>

    {% endfor %}

                </ul>

        </div>

      </section>
