


<section class="stats" id="stats">
  <ul class="stats-list">

    <li>
      <div class="project-content section-content">

        <p class="section-subtitle">Blog</p>


        <h2 class="h3 section-title"></h2>
              <p class="section-text">
                Exploring topics, sharing insights, and staying updated in the world of technology and computer science. Dive into my thoughts, experiences, and discoveries in the ever-evolving IT landscape.
              </p>

      </div>
    </li>

    {% for blog in blogs|slice:":4" %}
    <li>
      <a href="{% url 'blog_detail' blog.pk %}" class="stats-card">

        <div class="card-icon">
          {% if blog.img %}
          <img src="https://hlzyyhtwgggvtjjhllel.supabase.co/storage/v1/object/public{{ blog.img.url }}" alt="Checkmark icon">
          {% endif %}
        </div>

        <h2 class="h2 card-title">
          <strong>{{ blog.title }}</strong>
        </h2>

       
          <ion-icon name="chevron-forward-outline"></ion-icon>

      </a>
    </li>
    {% endfor %}

  

  </ul>
</section>

  
 