
footer{
  background-color:rgb(22,23,26);
  position:relative;
  right: 0;
  bottom: 0;
  width: 100%;


}

footer #SP {
   text-align: center;
   font-size: 40px;
  color:white;
}

#SP span {
    font-size: 80px;
    letter-spacing: 2px;
    font-weight: 400;
    color: rgb(254,211,58);
}

footer div {
  background-color:black;
  text-align:center;
  color:rgb(204,204,204);
  font-size:20px;

}

div #name {
  color:rgb(99,101,102);
}

footer p{
  text-align:center;

  color:white;
  font-style:normal;
  font-weight:normal;
}