{% extends 'base.html' %}
{% load static %}


{% block content %}


<style>

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* variables */
:root {
  --primary: #22d0ff;
  --secondary: #0a0b5b;
}




.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}
.button:hover {
  color: #222;
  background-color: var(--primary);
}
.button:active {
  outline: none;
}
input,
textarea {
  background-color: rgba(255, 255, 255, 0.05);
  color: #f2f2f2;
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
}
p,
 {
  color: #9893d8;
}

.leading {
  font-size: 1.1em;
}

/* MOBILE STYLES */




/* 5- contact section */
#contact {
  padding: 30px 20px;
  background: #080936;
}
#contact h3,
#contact p {
  text-align: center;
  margin-bottom: 0;
}
#contact form {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
#contact input,
#contact textarea {
  width: 100%;
  margin: 10px 0;
}
#contact .button {
  margin-top: 10px;
}



/* LARGE TABLET & LAPTOP STYLES */
@media screen and (min-width: 960px) {


  .leading {
    margin: 20px 0;
  }



}

/* DESKTOP STYLES */
@media screen and (min-width: 1200px) {

  #contact {
    padding: 90px 0;
  }




}


/* fonts */

h3,
{
  color: #dddbff;
  font-weight: normal;
}

</style>

    <section id="contact">
      <h3 style="color:white;">Get In Touch</h3>
      <form action="" method="POST">
           {% csrf_token %}
        <input type="text" placeholder='NAME'  name="name">
        <input type="email" placeholder='EMAIL' name="email">
        <textarea placeholder='YOUR MESSAGE' name="message"></textarea>
        <button class="button" type="submit" href="/">Send Flare</button>
      </form>
    </section>




{% endblock %}




<!--
<h1 align="center" >u are on main page resume </h1>



<form action="" method="POST">
        {% csrf_token %}
        <div class="info">
          <input class="fname" type="text" name="name" placeholder="Full name">
          <input type="text" name="email" placeholder="Email">
          <input type="text" name="phone" placeholder="Phone number">
          <input type="text" name="address" placeholder="Address">
        </div>
        <button type="submit" href="/">Submit</button>
</form>
-->





